{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>
            table , td, th {
                border: 1px solid #595959;
                border-collapse: collapse;
                line-height: 1;
                vertical-align: middle;
                
            }
           
            td, th {
                padding: 3px;
            }

            table {
                width: 100%;
            }

            .special > tbody > tr > td, th {
                width: 80%;
            }
            
            .bg-blue{
                background-color: #daeef3;
                color: black;
                font-weight: bold;
            }
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

            .text-center{
                text-align: center;
                
            }
            .text-left{
                text-align: left;
            }
            .text-right{
                text-align: right;
            }
            

            @page {
                size: letter portrait;
                margin: 30pt;
            }
            table { -pdf-keep-with-next: true; }
            section { -pdf-keep-with-next: true; }
            p.separator { -pdf-keep-with-next: false; font-size: 6pt; }
        </style>
    </head>
    <body>

        <section>
            <table>
                <tbody>
                <tr>
                    <td colspan="12">TABLA DE VALORACION PARA INMUEBLES DE CONSERVACIÓN HISTÓRICA</td>

                </tr>
                <tr>
                    <td colspan="1">VALOR</td>
                    <td colspan="3">ATRIBUTOS</td>
                    <td colspan="7">CONCEPTOS</td>
                    <td colspan="1">PUNTOS ( DE 2 A 0 )</td>
                </tr>
            primera columna  
            <tr>
                <td rowspan="9" colspan="1">URBANO</td>
                <td colspan="3" rowspan="3"> (A) IMAGEN</td>
                <td colspan="7">Se destasca por su aporte a la estructura, paisaje urbano.</td>
                <td colspan="1">2</td>
            </tr>
            <tr>
                <td colspan="7">Constribuye a la estructura o paisaje urbano</td>
                <td colspan="1">1</td>
            </tr>
            <tr>
                <td colspan="7">No aporta a la estructura o imagen urbana</td>
                <td colspan="1">0</td>
            </tr>
            <tr>
                <td colspan="3" rowspan="3"> CONJUNTO</td>
                <td colspan="7"> (B) CONCEPTOS</td>
                <td colspan="1">2</td>
            </tr>
            <tr>
                <td colspan="7">CONCEPTOS</td>
                <td colspan="1">1</td>
            </tr>
            <tr>
                <td colspan="7">CONCEPTOS</td>
                <td colspan="1">0</td>
            </tr>
            <tr>
                <td colspan="3" rowspan="3"> (C) ENTORNO PATRIMONIAL</td>
                <td colspan="7">CONCEPTOS</td>
                <td colspan="1">2</td>
            </tr>
            <tr>
                <td colspan="7">CONCEPTOS</td>
                <td colspan="1">1</td>
            </tr>
            <tr>
                <td colspan="7">CONCEPTOS</td>
                <td colspan="1">0</td>
            </tr>
        primera columna  
        <tr>
            <td rowspan="9" colspan="1">URBANO</td>
            <td colspan="3" rowspan="3"> (A) IMAGEN</td>
            <td colspan="7">Se destasca por su aporte a la estructura, paisaje urbano.</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">Constribuye a la estructura o paisaje urbano</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">No aporta a la estructura o imagen urbana</td>
            <td colspan="1">0</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3"> CONJUNTO</td>
            <td colspan="7"> (B) CONCEPTOS</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">0</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3"> (C) ENTORNO PATRIMONIAL</td>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">0</td>
        </tr>
         primera columna 
        <tr>
            <td rowspan="9" colspan="1">URBANO</td>
            <td colspan="3" rowspan="3"> (A) IMAGEN</td>
            <td colspan="7">Se destasca por su aporte a la estructura, paisaje urbano.</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">Constribuye a la estructura o paisaje urbano</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">No aporta a la estructura o imagen urbana</td>
            <td colspan="1">0</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3"> CONJUNTO</td>
            <td colspan="7"> (B) CONCEPTOS</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">0</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3"> (C) ENTORNO PATRIMONIAL</td>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">0</td>
        </tr>
        primera columna 
        <tr>
            <td rowspan="9" colspan="1">URBANO</td>
            <td colspan="3" rowspan="3"> (A) IMAGEN</td>
            <td colspan="7">Se destasca por su aporte a la estructura, paisaje urbano.</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">Constribuye a la estructura o paisaje urbano</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">No aporta a la estructura o imagen urbana</td>
            <td colspan="1">0</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3"> CONJUNTO</td>
            <td colspan="7"> (B) CONCEPTOS</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">0</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3"> (C) ENTORNO PATRIMONIAL</td>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">0</td>
        </tr>
         primera columna  
        <tr>
            <td rowspan="9" colspan="1">URBANO</td>
            <td colspan="3" rowspan="3"> (A) IMAGEN</td>
            <td colspan="7">Se destasca por su aporte a la estructura, paisaje urbano.</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">Constribuye a la estructura o paisaje urbano</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">No aporta a la estructura o imagen urbana</td>
            <td colspan="1">0</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3"> CONJUNTO</td>
            <td colspan="7"> (B) CONCEPTOS</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">0</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3"> (C) ENTORNO PATRIMONIAL</td>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="7">CONCEPTOS</td>
            <td colspan="1">0</td>
        </tr>

            </tbody>
            </table>
        </section>

    </body>
</html>