{% extends 'core/base.html' %}

{% load static %}

{% block main_content %}
<style>
.mi-enlace {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 25px;
  background-color: #ff9800;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease; /* Agregamos color a la transición */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo al pasar el mouse por encima */
.mi-enlace:hover {
  background-color: #ffba68;
  transform: translateY(-2px);
}

/* Estilo cuando se hace clic */
.mi-enlace:active {
  transform: translateY(0);
  box-shadow: none;
  color: #fff; /* Mantenemos el color del texto como blanco al hacer clic */
}

</style>  
<section class="container">
    <div class="row">
        <div class="col-12 pt-3">
            <table id="tabla_fichas" class="display table table-striped table-bordered table-sm" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fichero</th>
                        <th>Rol</th>
                        <th>Identificación inmueble</th>
                        <th>Revisor</th>
                        <th>Estado</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in fichas_con_observaciones %}
                        <tr>
                            <td>{{ item.ficha.id_plano }}</td>
                            <td>{{ item.ficha.usuario|default:"Sin Fichero" }}</td>
                            <td>{{ item.ficha.rol }}</td>
                            <td>{{ item.ficha.calle }}, {{ item.ficha.numero }}, {{ item.ficha.comuna }}</td>
                            <td>{{ item.observacion.usuario_revisor|default:"Sin Revisor" }}</td>
                            <td>{{ item.observacion.estado|default:"Pendiente" }}</td>
                            <td>  
                            {% if not user.is_staff  %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea disabled class="form-control" id="observacion_revisor" name="observacion_revisor" rows="3">{{ item.ficha.observacion_revisor }}</textarea>
                                    </div>
                                </div>
                            </td>
                            {% else %}
                            <form method="POST" action="{% url 'guarda_observaciones' item.ficha.id_plano %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="observacion_revisor" name="observacion_revisor" rows="3">{{ item.ficha.observacion_revisor }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-secondary" type="submit" name="aprobar">Guardar Observacion</button>
                            </form>
                            
                            </td>
                            {% endif %}
                            <td>
                                <a href="{% url 'editar_ficha' item.ficha.id_plano %}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'exportar_pdf' item.ficha.id_plano %}" target="_blank" class="btn btn-danger">PDF</a> 
                                <a href="{% url 'exportar_pdf_valoracion' item.ficha.id_plano %}" target="_blank" class="btn btn-secondary">PDF De Valoracion</a> 

                                {% if not user.is_staff %}
                                    {% if not item.observacion.aprobado %}
                                        <form method="post" action="{% url 'actualizar_observacion' item.ficha.id_plano %}">
                                            {% csrf_token %}
                                            <input type="checkbox" name="checkbox_value" id="checkbox_{{ item.ficha.id_plano }}" {% if item.observacion.aprobado %} checked {% endif %}>
                                            <label for="checkbox_{{ item.ficha.id_plano }}">Esta listo ?</label>
                                            <button type="submit">Guardar Cambios</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                                {% if item.observacion.aprobado and user.is_staff and not item.observacion.aprobado_revisor %}
                                    <form method="post" action="{% url 'actualizar_observacion_staff' item.ficha.id_plano %}">
                                        {% csrf_token %}
                                        <br>
                                        <button class="btn btn-secondary" type="submit" name="aprobar">Aprobar</button>
                                        <span class="mx-0.1"></span>
                                        <button class="btn btn-danger" type="submit" name="denegar">Denegar</button>
                                    </form>
                                    <br>
                                {% endif %}   
                                                        
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>No hay datos</td>
                            <td>No hay datos</td>
                            <td>No hay datos</td>
                            <td>No hay datos</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if user.is_staff  %}
    <br>
    <br>
    <div class="row">
        <p>solo staff puede ver esta opción</p>
        <div class="col-12 pt-3">
            <a href="{% url 'exportar_pdf_pogresion' %}" class="mi-enlace" target="_blank" role="button">Informe de fichas vigentes</a>
        </div>
    </div>
    <br>
    <br>
    {% endif %}
</section>
{% endblock main_content %}

{% block custom_js %}
<script>
    document.getElementById("tabla_fichas").style.display = "none";
    $(document).ready( function () {
        $('#tabla_fichas').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-CL.json'
            }, 
            initComplete: function () {
                $("#tabla_fichas").show();
            }
        });
    } );
</script>
<script>
    function ConfirmaEliminar(){
        if(confirm("!!ALERTA!! !\nEsta seguro de eliminar esta ficha?\nUna vez ELIMINADA NO SE VOLVERA A RECUPERAR ")){
            alert("Fue eliminada esta ficha")
            return true
        }else{
            alert("Fue cancelada esta eliminacion de ficha")
            return false
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var checkbox = document.getElementById('checkbox_{{ ficha.id_plano }}');
        checkbox.addEventListener('change', function() {
            this.closest('form').submit();
        });
    });
</script>

{% endblock custom_js %}
<!-- NOTA DEL PROGRAMADOR : SI TIENE LA POSIBILIDA DE OPTIMIZAR Y PONER LA TABLA MAS BONITAS SERIA LOS IDEAL PARA -->